 .btn button{
  width: 100px;
  height: 40px;
  border-radius: 5px;
  justify-content: center;
  background-color: rgb(15, 28, 206);
  color: white;
  border: none;
  margin: auto;
  font-size: 20px;
  cursor: pointer;  
  
}



.Buttons{
  display: flex;
  justify-content: center;
  margin-top: 100px;
  align-items: center;
  
  
  

}

.Nol{
  font-size: 100px;
  text-align: center;

  
}